.rounded {
  border-radius: 100px;
}

body {
  background-color: #f0edee;
}

pre code {
  font-family: 'Source Code Pro', monospace !important;
}

#content {
  font-family: 'Source Code Pro', monospace;
  color: #3b413c;
}

a {
  color: #e0afa0;
  font-weight: 700;
}

code {
  background-color: #e0afa0;
}

/* Only for large screens */
@media screen and (min-width: 501px) {
  nav a {
    padding-right: 2rem;
  }

  a:hover {
    color: #6dc0d5;
  }
}
