.rounded {
  border-radius: 100px;
}

body {
  background-color: #313d5a;
}

pre code {
  font-family: 'Source Code Pro', monospace !important;
}

#content {
  font-family: 'Source Code Pro', monospace;
  color: #69a297;
}

a {
  color: #89b6a5;
}

code {
  background-color: #545757;
}

/* Only for lare screens */
@media screen and (min-width: 501px) {
  p,
  a {
    font-size: 1.5rem;
  }

  nav a {
    padding-right: 2rem;
  }

  a:hover {
    color: #6dc0d5;
  }

  pre code {
    font-size: 1.5rem;
  }
}
