.rounded {
  border-radius: 100px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: 75%;
}

.horizontal {
  display: flex;
}

.horizontal ul {
  margin-left: 0;
  padding-left: 0;
}

.horizontal ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.post ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}
